# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/master/Unity.gitignore
#
# Jetbrain Rider Cache
.idea/
Assets/Plugins/Editor/JetBrains*

# Visual Studio Code
.vscode/

/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Mm]emoryCaptures/
#exclude all ProjectSettings
/[Pp]rojectSettings/
/[Uu]ser[Ss]ettings/*
/UserSettings

/Assets/Rewired/

# exclude SenseGlove SDK
/Assets/SenseGlove/

/Assets/SenseGlove/
/Assets/SenseGlove.meta
/Assets/Rewired/
/Assets/Rewired.meta

/Assets/SenseGlove/
/Assets/SenseGlove.meta
/Assets/Rewired/
/Assets/Rewired.meta

# exclude the Animus SDK
/Assets/AnimusClient/
# except for the UnityAnimusClient and ClientLogic, because we change them
!/Assets/AnimusClient/Example/Scripts/UnityAnimusClient.cs
!/Assets/AnimusClient/Example/Scripts/ClientLogic.cs

# exclude OpenCVForUnity
/Assets/OpenCVForUnity/

# exclude Ultimate 10 Shaders
/Assets/Ultimate\ 10\ Plus\ Shaders/

# exclude the OUI ThirdParty Assets
Assets/OperatorUserInterface/ThirdParty/
Assets/OperatorUserInterface/Plugins/

# exclude the Showroom
Assets/OperatorUserInterface/Models/Showroom/

# exclude the username and password for Animus
Assets/Prefabs/Animus/AnimusPasswordSetter.prefab
Assets/Scripts/AnimusPasswordStore.cs

# currently too big for git
Assets/Wheelchair/LowerLimbs_v50.obj

# Asset meta data should only be ignored when the corresponding asset is also ignored
!/[Aa]ssets/**/*.meta

# Uncomment this line if you wish to ignore the asset store tools plugin
# /[Aa]ssets/AssetStoreTools*

# Autogenerated Jetbrains Rider plugin
[Aa]ssets/Plugins/Editor/JetBrains*

# Visual Studio cache directory
.vs/

# Gradle cache directory
.gradle/

# Autogenerated VS/MD/Consulo solution and project files
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity3D generated meta files
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Unity3D generated file on crash reports
sysinfo.txt

# Builds
*.apk
*.unitypackage

# Crashlytics generated file
crashlytics-build.properties

# Exclude XTAL SDK
Assets/vrgineers/
Assets/vrgineers.meta

MonoBleedingEdge/*
*.exe
Teleport_Data/*
gitex-visiton/*
gitex-with-audio/*